body {
  overflow: hidden;
}
html {
  /*background: url("../img/ricepaper2.png");*/
  background: rgba(0, 0, 0, .9);
}
#ball {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  /*background-color: rgba(20, 100, 250, .7);*/
  background-color: white;
  top: 50px;
  left: 20px;
  position: absolute;
  transition: all linear 1s;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, .4);
  -webkit-transition: all linear 200ms;
}

#box1 {
  height: 200px;
  width: 200px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: rgba(100, 240, 200, .6);
}

#box2 {
  height: 200px;
  width: 200px;
  top: 200px;
  left: 50px;

  position: absolute;
  background: rgba(200, 10, 40, .7);
}


#testBall {
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0;
  position: absolute;
}


.paddle {
  height: 150px;
  width: 40px;
  border-radius: 5px;
  background-color: white;
  top: 400px;
  left: 300px;
  position: absolute;
}
