body {
  overflow: hidden;
}

#ball {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgba(20, 100, 250, .7);
  top: 50px;
  left: 20px;
  position: absolute;
}


#paddle {
  height: 30px;
  width: 200px;
  border-radius: 5px;
  background-color: rgba(200, 40, 30, .8);
  top: 400px;
  left: 300px;
  position: absolute;
}
