body {
  overflow: hidden;
}
html {
  background: url("/img/px_by_Gre3g.png");
  /*background: rgba(0, 0, 0, .9);*/
}
#ball {
  height: 40px;
  width: 40px;
  border-radius: 20px;
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
background: linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

  top: 50px;
  left: 20px;
  position: absolute;
  transition: all linear 200ms;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .4);
  border: 1px solid #a90329;
  -webkit-transition: all linear 180ms;
}

#box1 {
  height: 200px;
  width: 200px;
  top: 0px;
  left: 0px;
  position: absolute;
  background: rgba(100, 240, 200, .6);
}

#box2 {
  height: 200px;
  width: 200px;
  top: 200px;
  left: 50px;

  position: absolute;
  background: rgba(200, 10, 40, .7);
}


#testBall {
  height: 50px;
  width: 50px;
  top: 0px;
  left: 0;
  position: absolute;
}


.paddle {
  height: 150px;
  width: 40px;
  border-radius: 5px;
  background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
background: linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
	border: 1px solid #fff;
  top: 400px;
  left: 300px;
  position: absolute;
  transition: all linear 200ms;
  box-shadow: 2px 3px 2px rgba(0, 0, 0, .4);
  -webkit-transition: all linear 200ms;
}

#title {
  color: #1f1f1f;/*rgba(200, 240, 240, .9);*/
  text-shadow: 0px 1px 0px #5a5a5a;
  letter-spacing: -3px;
  text-align: center;
  font-size: 3em;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
}

.score {
  display: inline;
  font-size: 1.5em;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  color: #1f1f1f;/*rgba(200, 240, 240, .9);*/
  text-shadow: 0px 1px 0px #5a5a5a;
  margin: 0 10px;
}

.scores {
  text-align: center;
}
