<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>Control</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 
 
 
<link href="/css/style.css" rel="stylesheet" type="text/css"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script type="text/javascript" src="/js/jquery-ui-1.8.17.custom.min.js"></script> 
<script src="http://cdn.sockjs.org/sockjs-0.1.2.min.js"></script>
<script type="text/javascript" src="/js/control.js"></script>
<script type="text/javascript" src="/js/bridge.js"></script>

</head> 
 
<body> 
  <h1>Hit O/L to control the right paddle and W/S to control the left.</h1>
</body> 
</html> 
