<!DOCTYPE HTML> 
<html lang="en"> 
<head> 
<title>Shot 3</title> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us"> 
<meta name="description" content=""> 
<meta name="keywords" content=""> 
 
 
<link href="/css/display.css" rel="stylesheet" type="text/css"> 

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script> 
<script type="text/javascript" src="/js/jquery-ui-1.8.17.custom.min.js"></script> 
<script src="http://cdn.sockjs.org/sockjs-0.1.2.min.js"></script>
<script type="text/javascript" src="/js/display.js"></script>
<script type="text/javascript" src="/js/bridge.js"></script>

</head> 
 
<body> 
  <div id="title">Shot 3</div>
<div id="ball"></div>
<div id="paddle1" class="paddle"></div>
<div id="paddle2" class="paddle"></div>
<div class="scores">
  <div class="score">Player 1: <span id="score1">20</span></div>
  <div class="score">Player 2: <span id="score2">40</span></div>
</div>
</body> 
</html> 
